<div class="hero-unit" id="banner">
  <div class="container">
    <h1>Task manager</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</div>
<br>

<div class="container">
  <task-creator></task-creator>
  <osp-datepicker></osp-datepicker>
  <form ng-submit="addNewTask()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Task:</label>
          <input type="text" class="form-control" ng-model="newTask.summary">
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="">Priority:</label>
          <select name="" id="" class="form-control" ng-model="newTask.priority">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>

      <div class="col-md-3 end-date-datepicker">
        <div class="form-group">
          <label for="">End Date:</label>
          <input type="text" class="form-control"
                 datepicker-popup
                 ng-model="newTask.endDate"
                 is-open="status.opened"
                 datepicker-popup="{{format}}"
                 min-date="endDate"
                 max-date="'2020-06-22'"
                 datepicker-options="dateOptions"
                 date-disabled="disabled(date, mode)"
                 ng-required="true"
                 close-text="Close" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="open($event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
        </div>
      </div>

      <div class="col-md-1">
        <label for="">Btn:</label>
        <button type="submit" class="btn btn-default" >
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>

    </div>
  </form>

</div>

<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Task</th>
      <th>Priority</th>
      <th>End Date</th>
      <th>#</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="task in tasks">
      <td>{{task.summary}}</td>
      <td>{{task.priority}}</td>
      <td>{{task.endDate | date: 'dd-MMMM-yyyy'}}</td>
      <td><input type="checkbox" ng-checked="task.completed"></td>
    </tr>

    </tbody>
  </table>
</div>


<code>
  <pre>
    {{newTask}}
  </pre>
  <pre>{{tasks}}</pre>
</code>

