<form ng-submit="addNewTask()">
  <div class="row">
    <div ng-class="{'col-md-6': action==='new','col-md-12': action==='edit'}">
      <div class="form-group">
        <label for="">Task:</label>
        <input type="text" class="form-control" ng-model="newTask.summary">
      </div>
    </div>

    <div ng-class="{'col-md-2': action==='new','col-md-12': action==='edit'}">
      <div class="form-group">
        <label for="">Priority:</label>
        <select name="" id="" class="form-control" ng-model="newTask.priority">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>

    <div class="end-date-datepicker" ng-class="{'col-md-3': action==='new','col-md-12': action==='edit'}">
      <div class="form-group">
        <label for="">End Date:</label>
        <osp-datepicker end-date="newTask.endDate"></osp-datepicker>
      </div>
      {{newTask.endDate}}
    </div>

    <div class="col-md-12" ng-if="action==='edit'">
      <input type="submit" hidden>
      <div class="form-group">
        <label for="">Full Description:</label>
        <textarea class="form-control"
                  ng-model="newTask.description"
                  rows="4">
        </textarea>
      </div>
    </div>

    <div class="col-md-1" ng-if="action==='new'">
      <label for="">Btn:</label>
      <button type="submit" class="btn btn-default" >
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
</form>
