<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <label class="btn btn-primary" ng-model="filterBy.active" btn-checkbox>Active</label>
      <label class="btn btn-primary" ng-model="filterBy.completed" btn-checkbox>Completed</label>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>Task</th>
        <th>Priority</th>
        <th>End Date</th>
        <th>#</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="(id, task) in tasks | taskFilter:filterBy ">
        <td>{{task.summary}}</td>
        <td>{{task.priority}}</td>
        <td>{{task.endDate | date: 'dd-MMMM-yyyy'}}</td>
        <td>
          <input type="checkbox" ng-checked="task.completed" ng-click="markAsDone(id)">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
